@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.commonHostIcons{
    background-color: rgba(29, 32, 39, 0.8);
    padding: 10px;
    border-radius: 25px;
}
.primaryHostIcons{
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px;
    width: fit-content;
    border-radius: 50px;
    position: absolute;
    transform: translate(96%, -54%);
    
    
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 40px 20px rgba(255, 255, 255, 2);
}
.expandIconCnt{
    padding: 10px;
    /* border: 1px solid red; */
    width: fit-content;
    border-radius: 6px;
    position: absolute;
    right: 1%;
    top: 4%;
}
.videoCnt .mainStreamerName{
    color: #1971FF;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    /* border: 1px solid red; */
    width: fit-content;
    position: absolute;
    top: 4%;
    left: 1%;
}
.videoCnt .hostScreen img{
    border-radius: 18px;
}
.videoCnt .hostScreen .PrimeVideoDisplay{
    height: 365px;
    /* width: 950px; */
    object-fit: cover;
        width: 100%;
        border-radius: 8px;
}
.videoCnt .hostScreen{
    border-radius: 18px;
    /* width: fit-content; */
    position: relative;
    margin-bottom: 18px;
}
.chatPollWholeCnt{
    background-color: #272C35;
    border-radius: 18px;
    padding: 14px 12px 10px;
    margin-bottom: 18px;
}
/* .meetingSc .meetingScCnt{
    display: flex;
    align-items: start;
    gap: 28px;
} */
.meetingSc{
    background-color: #111317;
    padding: 28px 0px 16px;
    /* new */
        height: 100vh;
    overflow-x: hidden;
        /* padding: 28px 0px 90px; */

}

.react-tabs__tab {
  padding: 10px 20px;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  transition: background 0.3s;
  list-style: none;
  border-radius: 25px;
}

.react-tabs__tab--selected {
  background-color: #1A71FF;
  font-weight: 600;
  color: #ffffff;
  border-radius: 25px;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab-list {
  display: flex;
background-color: rgba(22, 24, 29, 0.6);
padding: 6px;
border-radius: 25px;
/* gap: 12px; */
gap: 0;
    margin-bottom: 24px;
    width: fit-content;
}
.participantsChatCnt{
    display: flex;
    align-items: start;
    gap: 5px;
}
.indProfileChat .userCnt .timeCnt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
    gap: 14px;
}

.indProfileChat .userCnt .timeCnt .userName{
    font-size: 10px;
    color: #AFAFAF;
    font-weight: 500;
}
.indProfileChat .userCnt .timeCnt .timer{
    font-size: 10px;
    color: #A8A8A8;
    font-weight: 500;
    /* margin: 0; */
}
.indProfileChat .userCnt p{
       font-size: 15.3px;
    color: #C4C8DA;
    line-height: 150%;
    margin-bottom: 2px;
}
.indProfileChat .userCnt .userName{
    font-size: 10px;
    color: #AFAFAF;
    font-weight: 500;
    line-height: 150%;
}
.chatProfile{
        width: 30px;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
    background-color: #F9C33C;
    border-radius: 50%;
    padding: 1px 6px;
    border: 2px solid #111317;
}
.indProfileChat .userCnt{
    margin-bottom: 12px;
    background-color: #161929;
    border-radius: 10px;
    padding: 8px 12px;
}
.commonChatPollHt{
    height: 380px;
    overflow: hidden;
    overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-bottom: 20px;
}
.commonChatPollHt.participantCnt{
    /* height: 452px; */
    height: 432px;
        margin-bottom: 0;
}
.commonChatPollHt.pollCnt{
    height: 452px;
        margin-bottom: 0;
}
.commonChatPollHt::-webkit-scrollbar {
  display: none; 
}
.msgBoxCnt{
        display: flex;
    align-items: center;
    gap: 14px;
    background-color: #1C1F2E;
    border-radius: 88px;
    padding: 4px;
}
.msgBoxCnt button{
        background-color: transparent;
    border: none;
}
.msgBoxCnt button:first-child{    
    padding: 8px 0 8px 12px;
}
.msgBoxCnt input{
        width: 100%;
            background-color: transparent;
    border: none;
    color: #C4C8DA;
    font-size: 16px;
}
.msgBoxCnt input:focus{
    outline: none;
}
.msgBoxCnt input::placeholder{
    color: #8D8F98;
    font-size: 16px;
}
/* Participant Card */
.profileDetailCnt .profileAndName .imgCnt img{
    border-radius: 8px;
}
.profileDetailCnt .profileAndName .imgCnt{
    height: 32px;
}
.profileAndName .NameAndDes .name{
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 2px;
}
.profileAndName .NameAndDes .Designation{
    font-size: 12px;
    color: #8D8F98;
    margin-bottom: 0;
}
.profileDetailCnt .profileAndName{
    display: flex;
    align-items: center;
    gap: 8px;
}
 .micAndCamCnt{
    display: flex;
    align-items: center;
    gap: 8px;
}
.profileDetailCnt .hostAndMic{
    display: flex;
    align-items: center;
    gap: 8px;
}
/* .hostAndMic .micAndCamCnt .micIconCnt{
    height: 16px;
}
.hostAndMic .micAndCamCnt .camIconCnt{
    height: 16px;
}
.hostAndMic .micAndCamCnt .moreIconCnt{
    height: 16px;
} */
.hostAndMic .hostId{
    background-color: #F9C33C;
    color: #000000;
    font-size: 10px;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 50px;
}
.commonChatPollHt.participantCnt .profileDetailCnt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}
.commonChatPollHt.pollCnt .pollImgCnt{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 22px;
}
.commonChatPollHt.pollCnt button{
    padding: 10px 12px;
    background-color: #1971FF;
    border-radius: 12px;
    color: #ffffff;
    font-size: 16px;
    line-height: 150%;
    border: none;
}
.commonChatPollHt.pollCnt .btnCnt{
    text-align: center;
}
.commonChatPollHt.pollCnt button:focus{
    outline: none;
}
.commonChatPollHt.pollCnt button:hover{
    background-color: #0044B2;
}
.subPrimeVideoCardCnt .detailedvideoCardCnt{
    border-radius: 12px;
    width: fit-content;
}
.subPrimeVideoCardCnt .detailedvideoCardCnt .videoCnt{
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    width: fit-content;
}
.subPrimeVideoCardCnt .detailedvideoCardCnt .videoCnt .userName{
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0000004D;
    padding: 5px 18px;
    border-top-right-radius: 12px;    
}
.subPrimeVideoCardCnt .detailedvideoCardCnt .videoCnt .micContainer{
    position: absolute;
    bottom: 3%;
    right: 3%;
}
.subPrimeVideoCardCnt{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    /* gap: 24px;
    width: fit-content;
    margin-top: -70px; */
}
.linkShareAndTimeSc{
    background-color: #272C35;
    border-radius: 18px;
    padding: 10px 8px;
    gap: 10px;
}
.linkShareAndTimeSc .anchorLinkCnt{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #1C1F2E;
    border-radius: 88px;
    padding: 7px 16px;
    width: fit-content;
}
.linkShareAndTimeSc .anchorLinkCnt a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #1971FF;
}
.linkShareAndTimeSc .timeAndDateCnt p{
    font-size: 16px;
    font-weight: 500;
    color: #8D8F98;
    text-align: right;
}
.linkShareAndTimeSc .timeAndDateCnt p:first-child{
    margin-bottom: 4px;
}
.linkShareAndTimeSc .timeAndDateCnt p:last-child{
    margin-bottom: 0px;
}
.linkShareAndTimeSc{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subPrimeVideoCardCnt .detailedvideoCardCnt .videoCnt video{
    height: 160px;
}
.navigationControllerSc .navControllerCnt{
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 9px 14px;
    border-radius: 18px;
    background-color: #272C35;
    width: fit-content;
}
.navigationControllerSc .stopBtn{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #B22D2A;
    padding: 12px 10px;
    border-radius: 12px;
}
.navigationControllerSc .stopBtn span{
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}
.participantsCnt{
    display: flex;
    align-items: center;
    gap: 8px;
        padding: 9px 14px;
    border-radius: 18px;
    background-color: #272C35;
    width: fit-content;
}
.participantsSc p{
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 0;
}
.participantsSc .parCount{
    font-size: 16px;
    font-weight: 700;
    color: #1971FF;
    padding: 15px;
    background-color: #1F222A;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    margin-bottom: 0;
}
.bottomControllers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* new */
    /* position: absolute;
    width: 95%;
    bottom: 0;
    overflow: hidden;
    margin: 30px 0 24px 0; */
}
.profileAndName .avatarCircle{
    width: 44px;
    height: 44px;
    font-size: 22px;
    font-weight: 500;
    background-color: #F9C33C;
    border-radius: 50%;
    padding: 3px 11px;
    border: 3px solid #111317;
}
.iconBtn{
    background-color: #1F222A;
    border: none;
    padding: 10px;
    border-radius: 25px;
}
.iconBtn.dropdown-toggle::after{
    display: none !important;
}
.iconBtnSubPr .dropdown-menu.show{
    background-color: #1C1F2E;
    border-radius: 12px;
    padding: 12px;
}
.iconBtnSubPr .dropdown-menu.show li{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}
.iconBtnSubPr .dropdown-menu.show li:not(:last-child){
    border-bottom: 1px solid #374151;
}
.iconBtnSubPr .dropdown-menu.show li button{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 6px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.iconBtnSubPr .dropdown-menu.show li button:hover{
    background-color: #343946;
    border-radius: 6px;
}
.mobileController{
    display: none;
}
@media (min-width: 1200px) {
    .container{
        max-width: 1330px !important;
    }
}
@media (max-width: 991.9px){
    .mobileController{
        display: block;
    }
    .chatPollWholeCnt{
        display: none;
    }
    .bottomControllers{
            gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 18px;
    }
    .linkShareAndTimeSc{
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 991.9px){
    .participantsSc p:last-child{
        display: none;
    }
}
@media screen and (min-width: 576px) and (max-width: 767.9px){
    .participantsCnt{
        display: none;
    }
}
@media (max-width: 420.9px){
    /* .navControllerCnt div{
        width: 34px;
        height: 34px;
    } */
    .navControllerCnt div img{
        width: 100%;
    }
    .navigationControllerSc .stopBtn span{
        display: none;
    }
    .navSeparator{
        display: none;
    }
    .navigationControllerSc .navControllerCnt{
            padding: 6px 8px;
    }
    .navigationControllerSc .stopBtn{
            border-radius: 100%;
    }
    .participantsCnt{
        display: none;
    }
}
@media (max-width: 575.9px){
    .navigationControllerSc .navControllerCnt{
            gap: 8px;
    }
    .participantsCnt{
        display: none;
    }
}

