.LoginTitle{
    color: #000000 !important;
    font-size: 24px !important;
    font-weight: 600 !important;
    line-height: auto !important;
    margin-bottom: 24px !important;
}
.signin-form .labInputCnt label{
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: auto !important;
    color: #000000 !important;
    margin-bottom: 8px !important;
}
.signin-form .labInputCnt input{
    border: 1px solid #D1D1D1 !important;
    padding: 9px 16px !important;
    border-radius: 8px !important;
    font-size: 14px !important;
}
.signin-form .labInputCnt input:focus{
    box-shadow: none;
}
/* .signin-form .labInputCnt:first-child{
    margin-bottom: 20px;
} */
.signin-form .labInputCnt:nth-child(2){
    margin-bottom: 20px;
}
.signin-form .labInputCnt:nth-child(3){
    margin-bottom: 24px;
}
.offcanvas-body{
    padding: 0 !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.canvaWidth{
    width: 52% !important;
}
.signin-form .signInBtn{
    width: 54%;
}
.signin-form .labInputCnt .password-wrapper{
    position: relative;
}
.signin-form .labInputCnt .password-wrapper .eye-icon{
    position: absolute;
    top: 20%;
    right: 2%;
}
.PwdAndNewRegister{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}
.PwdAndNewRegister .forgetPwd{
    font-size: 12px;
    color: #6A6A6A;
    font-weight: 700;
}
.PwdAndNewRegister .newRegister{
    font-size: 12px;
    color: #6A6A6A;
    font-weight: 700;
}
.PwdAndNewRegister .newRegister button{
    color: #004ECC;
    font-size: 12px;
    font-weight: 700;
    border: none;
    background-color: transparent;
}
.signin-form .signInBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.signin-form .labInputCnt .error-text{
    color: #ff2200;
    font-size: 14px;
    margin-top: 4px;
}
.signin-form.signup-form .labInputCnt{
    margin-bottom: 24px;
}
.backToSignInCnt .terms-checkbox label{
    font-size: 12px;
    color: #6A6A6A;
    line-height: auto;
}
.backToSignInCnt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}
.backToSignInCnt .terms-checkbox{
    display: flex;
    align-items: center;
    gap: 5px;
}
.backToSignInCnt .PwdAndNewRegister{
    margin-bottom: 0px;
}
.signUpBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 54%;
    background-color: #004ECC !important;
    color: #ffffff !important;
    padding: 8px 10px !important;
    border-radius: 8px !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    border: none !important;
    outline: none !important;
}
/* New13 */
.guestLogin{
    background-color: transparent;
    border: none;
    text-decoration-line: underline;
    color: #004ECC;
    font-size: 18px;
    font-weight: 600;
    margin: 54px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
@media screen and (min-width: 1200px) and (max-width: 1399.9px){
    .canvaWidth {
        width: 54% !important;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199.9px){
    .backToSignInCnt{
        flex-direction: column;
    align-items: start;
    gap: 14px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991.9px){
    .canvaWidth {
    width: 62% !important;
}
.backToSignInCnt{
        flex-direction: column;
    align-items: start;
    gap: 14px;
    }
}
@media screen and (max-width: 767.9px){
    .canvaWidth {
    width: 100% !important;
}
.offcanvas-body {
    padding: 0 !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
}
.backToSignInCnt {
        flex-direction: column;
        align-items: start;
        gap: 14px;
    }
}
@media screen and (max-width: 575.9px){
    .PwdAndNewRegister{
        flex-direction: column;
        gap: 14px;
        align-items: flex-start;
    }
}